{% extends 'layouts/base.html' %}

{% set page_title = 'Comparison' %}

{% block css_additional %}
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/dc.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/keen-dashboards.css') }}">
    <!-- datatables -->
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/datatables/media/css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/datatables/extensions/ColVis/css/dataTables.colVis.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/datatables/extensions/Responsive/css/dataTables.responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/datatables/extensions/TableTools/css/dataTables.tableTools.min.css') }}">
    <!-- custom css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/proj/compare.css') }}">
{% endblock %}

{% block bodycontents %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="chart-wrapper">
            <div class="chart-title">
              Select institutions
            </div>
            <div class="chart-stage">

            </div>
            <!--<div class="chart-notes">
              Notes about this chart
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="chart-wrapper">
            <div class="chart-title">
              Select institutions
            </div>
            <div class="chart-stage">

            </div>
            <!--<div class="chart-notes">

            </div>-->
         </div>
        </div>
      </div>
    </div>
  </div>

  Under construction...
</div>

<!-- Popup Window Feature -->
<div class="modal fade" id="siteInfoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-primary" id="siteinfo-title"></h4>
      </div>
      <div class="modal-body" id="siteinfo-info"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}

{% block js_addition %}
<!-- Dashboard: crossfilter and dc -->
<script src="{{ url_for('static', filename='libs/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/crossfilter.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/dc.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/holder.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/keen.min.js') }}"></script>
<!-- datatable library -->
<script src="{{ url_for('static', filename='libs/datatables/media/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/datatables/extensions/ColVis/js/dataTables.colVis.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/datatables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/datatables/extensions/TableTools/js/dataTables.tableTools.min.js') }}"></script>
<!-- custom js -->
<script src="{{ url_for('static', filename='js/proj/compare.js') }}"></script>
{% endblock %}
